*{
    margin: 0;
    padding: 0;
    font-family: "Krona One", sans-serif;
}

html, body {
    overflow-x: hidden;
}

.krona-one-regular {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header{
    text-align: center;
    color: #EE0E0E;
    width: 100%;
    height: 13%;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    background-color: #ffffff;
}

#menu li{
    display: inline;
    list-style-type: none;
    margin-right: 100px;
    font-size: 15px;
    width: 100%;
}

#hero{
    width: 100%;
    height: 100vh;
    color:#EE0E0E;
}

h1.comeco{
    position: relative;
    top: 250px;
    left: 100px;
}

h5.comeco1{
    color: #EE4242;
    position:relative;
    top: 265px;
    left:100px;
}

.botaocta{
    height: 40px;
    width: 150px;
    border-radius: 25px;
    border: 2px solid #EE0E0E;
    background-color: #ffffff;
    color: #EE0E0E;
    text-align: center;
    padding-top: 15px;
    position: relative;
    top: 275px;
    left: 95px;
}

.botaocta:hover{
    background-color: #EE0E0E;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.flamengoimagem{
    position: relative;
    left: 775px;
    bottom: 85px;
}

#Sobremim{
    background-color: #EE0E0E;
    width: 100%;
    height: 100vh;
    color:#ffffff; 
}

h1.sobremim1{
    position: relative;
    top: 100px;
    left: 300px;
}

p.sobremim2{
    text-align: center;
    position: relative;
    width: 400px;
    top: 120px;
    left: 220px;
}

.botaoctasobremim{
    height: 40px;
    width: 150px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    background-color: #EE0E0E;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 140px;
    left: 340px;
}

.botaoctasobremim:hover{
    background-color: #ffffff;
    color: #EE0E0E;
    border: 2px solid #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.imagemsobremim{
    border-radius: 50%;
    max-width: 150px;
    position: relative;
    left: 730px;
    bottom: 300px;
    width: auto;
}

.imagemsobremim1{
    border-radius: 50%;
    max-width: 125px; 
    height: 120px;
    position: relative;
    left: 900px;
    bottom: 450px;
}

.imagemsobremim2{
    border-radius: 50%;
    max-width: 180px; 
    height: 180px;
    position: relative;
    left: 680px;
    bottom: 100px;
}

.imagemsobremim3{
    border-radius: 50%;
    max-width: 100px; 
    height: 100px;
    position: relative;
    left: 350px;
    bottom: 40px;
}

#Curiosidades{
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    color: #EE0E0E;
}

h1.curiosidades1{
    text-align: center;
    position: relative;
    top: 100px;
}

#menu1 li{
    display: inline-block;
    list-style-type: none;
    position: relative;
    left: 120px;
    top: 150px;
    padding:30px;
    color: #EE4242;
    max-width: 250px;
    text-align: center;
    height: 100px;
}

.botaoctacuriosidade{
    height: 40px;
    width: 150px;
    border-radius: 25px;
    border: 2px solid #EE0E0E;
    background-color: #ffffff;
    color: #EE0E0E;
    text-align: center;
    padding-top: 15px;
    position: relative;
    top: -300px;
    left: 600px;
}

.botaoctacuriosidade:hover{
    background-color: #EE0E0E;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#Causos{
    background-color: #EE0E0E;
    width: 100%;
    height: 100vh;
}

h1.causos1{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 100px;
    color: #ffffff
}

h2.causos2{
    color: #ffffff;
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 120px;
    width: 800px;
}

.botaoctaportfólio{
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: 2px solid #ffffff;
    background-color: #EE0E0E;
    color: #ffffff;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 140px;
    left: 600px;
}

.botaoctaportfólio:hover{
    background-color: #ffffff;
    color: #EE0E0E;
    border: 2px solid #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#Portfólio{
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
}

h1.portfólio{
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 300px;
    color: #EE0E0E;
}

#image1{
    border-radius: 25px;
    position: relative;
    left: 200px;
    height: 300px;
    top: 50px;
}

#image2{
    border-radius: 25px;
    position: relative;
    left: 50px;
    height: 200px;
    top: 300px;
}

#image3{
    border-radius: 25px;
    width: 300px;
    position: relative;
    left: 600px;
}

#image4{
    width: 100px;
    position: relative;
    top: 200px;
    left: 300px;
    color: #EE4242;
}

.botaoctarotina{
    height: 65px;
    width: 150px;
    border-radius: 25px;
    border: 2px solid #EE0E0E;
    background-color: #ffffff;
    color: #EE0E0E;
    text-align: center;
    padding-top: 15px;
    position: relative;
    top: 10px;
    left: 600px;
}

.botaoctarotina:hover{
    background-color: #EE0E0E;
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#Rotina{
    width: 100%;
    height: 100vh;
    background-color: #EE0E0E;
}

h1.rotina1{
    position: relative;
    top: 100px;
    left: 1010px;
    color: #ffffff;
}

#diasdasemana th{
    border: 2px solid #ffffff;
    border-radius: 25px;
    position: relative;
    top: 250px;
    left: 300px;
    color: #ffffff;
}

.horarios th, td{
    position: relative;
    border: 2px solid #ffffff;
    border-radius: 25px;
    top: 250px;
    left: 140px;
    padding: 10px;
    color: #ffffff;
}

#footer{
    width: 100%;
    background-color: #ffffff;
    height: 50vh;
}

h1.footer1{
    margin: 0 auto;
    text-align: center;
    color: #EE0E0E;
    margin: 5px;
}

h2.footer2, .footer3, .footer4{
    position: relative;
    color: #EE0E0E;
    left: 100px;
}

.footer3{
    left: 920px;
    top: -30px;
}

#mapa li{
    list-style-type: none;
    margin-right: 100px;
    font-size: 15px;
    width: 100%;
    position: relative;
    left: 100px;
    top: -20px;
    color: #EE4242;
    margin: 10px;
}

#redes li{
    display: inline;
    left: 1020px;
    top: -210px;
    font-size: 30px;
}


a {
    text-decoration: none;
    color: inherit;
}